@import "styles/mixins";

.header {
  --avatar-size: calc(50px + 10 * (100vw - 320px) / 1080);
  padding: calc(var(--main-padding) / 1.25);
  overflow: hidden;
  @include flex(space-between);
  gap: calc(var(--main-padding) / 2);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(var(--pink-rgb), 0),
      var(--pink),
      rgba(var(--pink-rgb), 0)
    );
  }

  &::before {
    content: "";
    position: absolute;
    inset: 80% 15% -100%;
    background: radial-gradient(var(--pink) 0%, transparent 65%);
    @include blur(50px);
    border-radius: 50%;
    z-index: 20;
    pointer-events: none;
  }

  & > * {
    @include flex(flex-start);
    z-index: 1;
  }
}

.right {
  --right-height: calc(38px + 12 * (100vw - 320px) / 1080);
  height: var(--right-height);
  background-color: var(--bg-opacity-1);
  border-radius: 100px;
}
