@import "styles/mixins";

.headingGift {
  width: calc(100px + 50 * (100vw - 320px) / 1080);
  @include mask(linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0)) 100%);
  margin: calc(var(--main-padding) * -1) 0;
}

// rotating animation when class .rotating is added
.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.special {
  --padding: calc(var(--main-padding) / 1.5);
  padding: var(--padding);
  border-radius: var(--radius-2);
  background-color: var(--bg-opacity-1);
  @include flex(flex-start);
  gap: calc(var(--main-padding) / 1.5);

  & + .special {
    margin-top: calc(var(--main-padding) * -0.5);
  }

  img {
    width: calc(40px + 24 * (100vw - 320px) / 1080);
  }

  h3 {
    font-size: calc(14px + 2 * (100vw - 320px) / 1080);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.15em;
  }

  span {
    font-size: calc(11px + 2 * (100vw - 320px) / 1080);
    color: var(--grey);

    strong {
      color: var(--pink);
      font-weight: 800;
    }
  }
}

.list {
  @include flex(flex-start, stretch, column);
  gap: var(--main-padding);

  &Top {
    @include flex(space-between, center);

    svg {
      font-size: 1.25em;
    }
  }

  &Title {
    small {
      color: var(--grey);
      font-weight: 500;
      font-size: 0.85em;
      margin-left: 0.15em;
    }
  }

  &No {
    text-align: center;
    background-color: var(--bg-opacity-1);
    border-radius: var(--radius-2);
    padding: 1em;
    color: var(--grey);
  }
}

.copy {
  flex: 0;
  min-width: 50px;
  padding: 0;

  svg {
    transform: scale(1.25);
    margin-right: 0;
  }
}

.referral {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  h3 {
    display: flex;
    align-items: center;

    img {
      width: 16px;
    }
  }
}

.bonuses {
  text-align: center;
  font-weight: bold;
  color: #ff0079;
}

.levelUpBonus {
  color: #fff;

  .parent {
    max-width: 28rem;
    margin: 0 auto;

    .mainHeading {
      font-weight: bold;
      color: #fff;
      font-size: 1.25rem; ;
    }

    .child {
      margin-top: 0.5rem;

      .firstChild {
        display: flex;
        justify-content: space-between;
        padding: 12px 8px 0;
        width: 100%;

        .childHeading {
          color: rgb(161 161 170);
          font-size: 13px;
          width: 33.333333%;
        }
      }

      .levels {
        background-color: rgb(24 24 27);
        padding: 16px 8px;
        display: flex;
        border-radius: 8px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0.5rem;

        .name {
          font-size: 14px;
          width: 33.333333%;
        }

        .levelChild {
          display: flex;
          align-items: center;
          gap: 4px;
          width: 33.333333%;

          .reward {
            font-size: 14px;
            color: rgb(234 179 8);
            font-weight: bold;
          }

          img {
            width: 16px;
          }
        }
      }
    }
  }
}