@import "styles/mixins";

.avatar {
  --default-size: calc(32px + 4 * (100vw - 320px) / 1080);
  width: var(--avatar-size, var(--default-size));
  height: var(--avatar-size, var(--default-size));
  border-radius: 50%;

  & > div {
    position: absolute;
    inset: 0;
    background-color: var(--bg-opacity-1);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    z-index: 1;
  }

  &::after {
    content: attr(data-letter);
    @include translate-center;
    position: absolute;
    font-weight: bold;
    font-size: calc(var(--avatar-size, var(--default-size)) / 2.5);
    padding-top: 0.15em;
    z-index: 0;
    color: var(--grey);
    text-transform: uppercase;
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 10%);
    width: calc(var(--avatar-size, var(--default-size)) / 2.5);
    z-index: 2;
  }
}
