@import "styles/mixins";

.check {
  --default-size: calc(40px + 8 * (100vw - 320px) / 1080);

  input {
    display: none;
  }

  input:checked + label {
    &::after {
      background-color: var(--pink);
      box-shadow: 0 5px 25px rgba(var(--pink-rgb), 0.5);
      left: calc(100% - var(--gap));
      transform: scale(1) translateX(-100%);
    }
  }

  label {
    --gap: 4px;
    display: block;
    width: calc(var(--check-size, var(--default-size)) * 1.75);
    height: var(--check-size, var(--default-size));
    background-color: var(--bg-opacity-1);
    border-radius: 100px;
    box-shadow: 0 0 0 1px var(--bg-opacity-1) inset;

    &::after {
      transition: 0.25s var(--cubic);
      content: "";
      width: calc(var(--check-size, var(--default-size)) - var(--gap) * 2);
      height: calc(var(--check-size, var(--default-size)) - var(--gap) * 2);
      background-color: var(--bg-opacity-2);
      position: absolute;
      left: var(--gap);
      top: var(--gap);
      border-radius: inherit;

      transform: scale(0.9);
    }
  }
}
