@import "styles/mixins";

.card {
  --padding: calc(var(--main-padding) / 1.5);
  @include flex;
  background-color: var(--bg-opacity-1);
  border-radius: var(--radius-2);
  padding: var(--padding);
  gap: calc(var(--padding) / 1.25);

  &.active {
    .amount,
    .illu {
      color: var(--success);
    }
  }

  .button {
    font-size: calc(11px + 4 * (100vw - 320px) / 1080);
    padding: 0.75em 1.25em;

    &.green {
      --btn-color: var(--success);

      svg {
        margin-right: 0;
      }
    }
  }
}

.illu {
  --size: calc(40px + 10 * (100vw - 320px) / 1080);
  @include flex;
  width: var(--size);
  height: var(--size);
  background-color: var(--bg-opacity-1);
  border-radius: calc(var(--radius-2) / 1.5);
  font-size: calc(var(--size) / 1.75);

  & > * {
    max-width: 100%;
    max-height: 100%;
  }
}

.title {
  font-size: calc(13px + 6 * (100vw - 320px) / 1080);
  flex: 1;
  font-weight: 800;
}

.amount {
  color: var(--pink);
  font-weight: 800;
  white-space: nowrap;

  img {
    width: 1em;
    top: -0.1em;
  }
}
