@import "styles/mixins";

.loading {
  @include flex;
  position: absolute;
  inset: 0;
  z-index: 5;
}

.canvas {
  opacity: 0;
  animation: showCanvas 0.6s 0.2s var(--ease-in-out-quad);
  animation-fill-mode: forwards;
  z-index: 5;

  @keyframes showCanvas {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
