@import "styles/mixins";

.heading {
  --padding: calc(32px + 16 * (100vw - 320px) / 1080);
  margin: calc(var(--main-padding) * -1);
  margin-bottom: 0;
  text-align: center;
  @include flex(center, center, column);
  padding: calc(var(--padding) * 1.5) var(--padding) 0;
  gap: calc(var(--padding) / 2.5);
}

.title {
  z-index: 5;
  font-weight: 800;
  font-size: var(--heading-title, calc(24px + 6 * (100vw - 320px) / 1080));
}

.txt {
  z-index: 5;
  color: var(--grey);
  font-size: var(--heading-txt, calc(15px + 4 * (100vw - 320px) / 1080));
}
